b {font-weight: 150;
font-style: normal;
font-size: medium;}

body {
    background: #cac4c4;
}

.side_nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: #181616;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6rem;
    box-shadow: 0rem 0.2rem 1rem 0rem rgb(0,0,0,0.2);
}

.side_nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #8b8b8b;
    display: block;
    transition: 0.3s;
}
    
.side_nav a:hover {
    color: #f1f1f1;
}
    
@media screen and (max-height: 450px) {
    .side_nav {padding-top: 15px;}
    .side_nav a {font-size: 18px;}
}

.hamburger {
    width: auto;
    height: 25px;
    position: absolute;
    top: 6%;
    right: 5%;
    cursor: pointer;
}

.close {
    width: 30px;
    height: auto;
    position: absolute;
    top: 5%;
    right: 10%;
    cursor: pointer;
}

#copyright {
    color: #8b8b8b;
    position: absolute;
    left: 8%;
    bottom: 12%;
}
