* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    display: grid;
    font-family: sans-serif;
    place-items: center;
    height: 100vh;
    background: #e9e8e8;
}



.side_nav {
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: #181616;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6rem;
    box-shadow: 0rem 0.2rem 1rem 0rem rgb(0,0,0,0.2);
}

.side_nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #8b8b8b;
    display: block;
    transition: 0.3s;
}
    
.side_nav a:hover {
    color: #f1f1f1;
}
    
@media screen and (max-height: 450px) {
    .side_nav {padding-top: 15px;}
    .side_nav a {font-size: 18px;}
}

.hamburger {
    width: auto;
    height: 25px;
    position: absolute;
    top: 6%;
    right: 5%;
    cursor: pointer;
}

.close {
    width: 30px;
    height: auto;
    position: absolute;
    top: 5%;
    right: 10%;
    cursor: pointer;
}

#copyright {
    color: #8b8b8b;
    position: absolute;
    left: 8%;
    bottom: 2%;
}



#container {
    height: 400px;
    width: 1200px;
    position: relative;
    overflow: hidden;
}

#container #dino {
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 28px;
    left: 20px;
}

#container #dino img {
    height: 70px;
    width: 70px;
}

.dinoActive {
    animation: animateDino 0.5s linear infinite;
}

@keyframes animateDino {

    0%,
    100% {
        bottom: 28px;
    }

    45%,
    55% {
        bottom: 160px;
    }
}

#container #block {
    height: 80px;
    width: 125px;
    position: absolute;
    bottom: 20px;
    right: -20px;
}

#container #block img {
    height: 80px;
    width: 125px;
}

.blockActive {
    animation: blockAnimate 1s linear infinite;
}

@keyframes blockAnimate {
    0% {
        right: -125px;
    }

    100% {
        right: 100%;
    }
}

#container #road {
    height: 30px;
    width: 1200px;
    position: absolute;
    bottom: 0;
}

#container #road img {
    height: 30px;
    width: 2000px;
    position: absolute;
    left: 0;
    animation: none;
}

@keyframes roadAnimate {
    0% {
        left: 0;
    }

    100% {
        left: -800px;
    }
}

#container #cloud {
    height: 80px;
    width: 1200px;
    border-radius: 40px;
    position: absolute;
    top: 30px;
}

#container #cloud img {
    height: 80px;
    width: 2000px;
    position: absolute;
    left: -2000px;
    animation: none;
}

#score {
    height: auto;
    width: auto;
    position: absolute;
    top: 20px;
    right: 0;
}

#gameOver {
    display: none;
    font-size: 70px;
    position: absolute;
    left: calc(50% - 181px);
    top: calc(50% - 40px);
    width: 400px;
    height: 80px;
    color: rgb(202, 4, 4);
}
