#container #Game1{
    width: 350px;
    border-radius: 40px;
    align-items: flex-start; 
    position: absolute;   
    top: 300px;
    background-color:lightblue;
    text-align: center;

}
#container #Game2{
    width: 350px;
    border-radius: 40px;
    position: absolute;
    left: 35%;   
    top: 300px;
    background-color:lightblue;
    text-align: center;
}
#container #Game3{
    
}