#container #Game1{
    width: 350px;
    border-radius: 40px;
    align-items: flex-start; 
    position: absolute;   
    left: 3%;
    top: 300px;
    background-color:lightblue;
    text-align: center;
}

#container #Game2{
    width: 350px;
    border-radius: 40px;
    position: absolute;
    left: 39%;   
    top: 300px;
    background-color:lightblue;
    text-align: center;
}

#container #Game3{
    width: 350px;
    border-radius: 40px;
    position: absolute;
    left: 74%;   
    top: 300px;
    background-color:lightblue;
    text-align: center;
}

#gta {
    position: absolute;
    width: 25%;
    left: 72%;
}

#dayz {
    position: absolute;
    width: 25%;
    left: 37.8%;
}

#ark {
    position: absolute;
    width: 25%;
    left: 2%;
}